[submodule "submodules/simple-knn"]
	path = submodules/simple-knn
	url = https://github.com/thehiddenwaffle/simple-knn.git
	branch = patched
[submodule "SIBR_viewers"]
	path = SIBR_viewers
	url = https://gitlab.inria.fr/sibr/sibr_core.git
	branch = for_gaussian_splatting
[submodule "submodules/diff-gaussian-rasterization"]
	path = submodules/diff-gaussian-rasterization
	url = https://github.com/thehiddenwaffle/360-diff-gaussian-rasterization.git
	branch = main
